<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación web myCRYPTO: FLASK + vanilla JS</title>
    <link rel="stylesheet" href="/static/css/milligram.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/spa.js"></script>
</head>
<body>
    <header>myCRYPTO</header>
    <section class="container" id="principal">
        <div class="lista-movimientos">
            <table class="tabla-movimientos">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>From</th>
                        <th>Cantidad</th>
                        <th>To</th>
                        <th>Cantidad</th>
                    </tr>  
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
    <hr>
<footer>&copy magallanesDev 2021 - Todos los derechos reservados</footer> 
</body>
</html>